<div class="clr-row clr-justify-content-center">
    <div class="clr-col-12 clr-col-md-8 clr-col-lg-6">
                
        <form clrForm *ngIf="lote" [formGroup]="loteForm" novalidate  (ngSubmit)="onSubmit()">
  
            <div class="card-header">
                <div *ngIf="lote.id; then editLoteBlock else newLoteBlock"></div>
                <ng-template #editLoteBlock>
                    Editar Lote
                </ng-template>
                <ng-template #newLoteBlock>
                    Nuevo Lote
                </ng-template>
            </div>
        
            <div class="card-block" [ngStyle]="{'margin-top': '0'}">
                
                <div class="card-text">
        
                    <clr-input-container [ngStyle]="{'margin-top': '0'}" *ngIf="lote.id">
                        <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">Nombre del Lote</label>
                        <input class="clr-col-7 clr-col-lg-8 clr-col-xl-7" clrInput type="text" 
                            name="nombre" 
                            formControlName="nombre" 
                            [attr.readonly]="lote.id" 
                            />
                    </clr-input-container>
                    
                    
                    <clr-select-container>
                      <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">Especie</label>
                      <select class="clr-col-7 clr-col-lg-8 clr-col-xl-7" 
                          clrSelect 
                          name="IdEspecie"    
                          formControlName="IdEspecie"  
                          (change)="onChangeEspecie($event)" 
                          required>
                          <option  *ngFor="let especie of especieList" 
                              [value]="especie.id">
                            {{ especie.nombre }}
                          </option>
                      </select>
                      <clr-control-error>Introduzca la Especie</clr-control-error>
                    </clr-select-container>

                    <br>
                    <div class="clr-form-control"> 
                      <div class="clr-control-container">
                          <button type="button" class="btn btn-primary" (click)="onNuevaVariedad()">
                              <clr-icon shape="plus"></clr-icon>
                              Nueva Variedad
                          </button>
                      </div>
                    </div>
                  
        
                    <clr-select-container>
                      <label class="clr-col-5  clr-col-lg-4 clr-col-xl-5">Variedad</label>   
                      <select class="clr-col-7   clr-col-lg-8 clr-col-xl-7" 
                          clrSelect 
                          name="IdVariedad"   
                          formControlName="IdVariedad"   
                          required>
                          <option  *ngFor="let variedadEspecie of variedadEspecieList" 
                              [value]="variedadEspecie.id">
                          {{variedadEspecie.nombre }}
                          </option>
                      </select>
                      <clr-control-error>Introduzca la Variedad</clr-control-error>
        
                    </clr-select-container>
               
                    
                    <clr-input-container>
                        <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">Num. Unidades</label>
                        <input class="clr-col-7 clr-col-lg-8 clr-col-xl-7" clrInput type="number" 
                            name="cantidad" 
                            formControlName="cantidad" 
                            value="0"
                            />
                        <clr-control-error>Introduzca el N&uacute;mero de Unidades</clr-control-error>
                    </clr-input-container>
        
                    <clr-input-container>
                      <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">Stock M&iacute;nimo</label>
                      <input class="clr-col-7 clr-col-lg-8 clr-col-xl-7" clrInput type="number" 
                          name="stockMinimo" 
                          formControlName="stockMinimo" 
                          value="0"
                          />
                      <clr-control-error>Introduzca el Stock M&iacute;nimo</clr-control-error>
                    </clr-input-container>
        
        
                    <clr-select-container>
                      <label class="clr-col-5  clr-col-lg-4 clr-col-xl-5">Sector</label>
                      <select class="clr-col-7 clr-col-lg-8 clr-col-xl-7" 
                          clrSelect 
                          name="IdSector"    
                          formControlName="IdSector"   
                          required>
                          <option  *ngFor="let sector of sectorList" 
                              [value]="sector.id">
                            {{ sector.nombre }}
                          </option>
                      </select>
                      <clr-control-error>Introduzca el Sector</clr-control-error>
                    </clr-select-container>
        
                    
                    <clr-date-container>
                        <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">Fecha Entrada</label>
                        <input class="clr-col-7 clr-col-lg-8 clr-col-xl-7" type="date" 
                            clrDate          
                            name="fechaEntrada" 
                            formControlName="fechaEntrada"  
                            required
                            />
                        <clr-control-error>Introduzca la fecha de Entrada</clr-control-error>
                    </clr-date-container>
        
        
        
        
                    <clr-select-container>
                      <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">Operario Encargado</label>
                      <select class="clr-col-7 clr-col-lg-8 clr-col-xl-7" 
                          clrSelect 
                          name="IdOperarioEncargado"   
                          formControlName="IdOperarioEncargado"   
                          required>
                          <option  *ngFor="let operario of operariosList" 
                              [value]="operario.id">
                            {{ operario.nombreOperaciones }}
                          </option>
                      </select>
                      <clr-control-error>Introduzca el Operario</clr-control-error>
                    </clr-select-container>
       
                    <clr-select-container>
                      <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">Proveedor</label>
                      <select class="clr-col-7 clr-col-lg-8 clr-col-xl-7" 
                          clrSelect 
                          name="IdProveedorOrigen"   
                          formControlName="IdProveedorOrigen"   
                          required>
                          <option  *ngFor="let proveedor of proveedoresList" 
                              [value]="proveedor.id">
                            ({{ proveedor.nombre2Digitos }}) - {{ proveedor.nombre }}
                          </option>
                         
                      </select>
                      <clr-control-error>Introduzca el Proveedor</clr-control-error>
                    </clr-select-container>
       
        
        
                    <clr-input-container>
                          <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">Codigo en Proveedor</label>
                          <input class="clr-col-7 clr-col-lg-8 clr-col-xl-7" clrInput type="text" 
                              name="codProveedor" 
                              formControlName="codProveedor"  
                              />
                          <clr-control-error>Introduzca el Código en Proveedor</clr-control-error>
                    </clr-input-container>
        
                    <clr-input-container>
                          <label class="clr-col-5 clr-col-lg-4 clr-col-xl-5">QR Trazabilidad</label>
                          <input class="clr-col-7 clr-col-lg-8 clr-col-xl-7" clrInput type="text" 
                              name="qrTrazabilidad" 
                              formControlName="qrTrazabilidad"  
                              />
                          <clr-control-error>Introduzca el QR de Trazabilidad</clr-control-error>
                    </clr-input-container>
        
                    <clr-textarea-container>
                          <label class="clr-col-12">Notas</label>
                          <textarea clrTextarea rows="3" class="clr-col-12" placeholder="" 
                              name="notas" 
                              formControlName="notas"></textarea>
                    </clr-textarea-container>
        
                              
        
                </div>
        
                
            </div>

            <div class="card-footer">
                <button [disabled]="loteForm.invalid" type="submit" class="btn btn-primary">ACEPTAR</button>
                <button type="button" class="btn" (click)="onCancel()">CANCELAR</button>
            </div>
        
        </form>

    </div>
</div>    


<clr-modal [(clrModalOpen)]="openedNuevaVariedadDialog" [clrModalSize]="'sm'">
    <h3 class="modal-title">Nueva Variedad</h3>
    
    <div class="modal-body">
        
        <form clrForm [formGroup]="variedadForm" novalidate>
            <p>Especie: <strong>{{ nombreEspecieSelected | uppercase}}</strong></p>
            <clr-input-container [ngStyle]="{'magin-top': '0'}">
                <label class="clr-col-12">Variedad</label>
                <input class="clr-col-12" clrInput type="text" 
                    name="nombre"  
                    formControlName="nombre"  
                    required   
                    />
                <clr-control-error>Introduzca la Variedad</clr-control-error>

            </clr-input-container>
            
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="onCancelNuevaVariedad()">Cancelar</button>
        <button [disabled]="variedadForm.invalid" type="button" class="btn btn-primary" (click)="onInsertNuevaVariedad()">Ok</button>
    </div>
    
</clr-modal>