<div *ngIf="emptySectors; then thenSectorBlock else elseSectorBlock"></div>
<ng-template #thenSectorBlock>

    <div class="alert alert-info" role="alert">
        <div class="alert-items">
            <div class="alert-item static">
                <div class="alert-icon-wrapper">
                    <clr-icon class="alert-icon" shape="exclamation-circle"></clr-icon>
                </div>
                <span class="alert-text">
                    No hay Sectores creados.
                </span>
            </div>
        </div>
    </div>
    
</ng-template>

<ng-template #elseSectorBlock>

    <div class="clr-row clr-justify-content-center">
        <div class="clr-col-12 clr-col-md-8 clr-col-lg-6 clr-col-xl-5">

            <clr-datagrid [clrDgSelected]="false">
                
                <clr-dg-column>Num.</clr-dg-column>
                <clr-dg-column>Nombre</clr-dg-column>
                <clr-dg-column></clr-dg-column>
                
            
                <clr-dg-row *clrDgItems="let sector of sectorList; let i =index">
                    <clr-dg-cell><strong>{{ i+1 }}</strong></clr-dg-cell>
                    <clr-dg-cell>{{ sector.nombre}}</clr-dg-cell>
                    <clr-dg-cell>
                        <button class="btn btn-icon btn-sm" (click)="onEditSector()" routerLink="/gestion/sector/{{sector.id}}/edit">
                            <clr-icon shape="note"></clr-icon>
                        </button>
                        <button class="btn btn-icon btn-sm">
                            <clr-icon shape="trash" (click)="onDeleteSector(sector)"></clr-icon>
                        </button>
                    </clr-dg-cell>
                    
                </clr-dg-row>
            
                <clr-dg-footer>{{sectorList.length}} Sectores</clr-dg-footer>
            </clr-datagrid>

        </div>
    </div>      

</ng-template>


<clr-modal [(clrModalOpen)]="openedDialog" [clrModalSize]="'sm'">
    <h3 class="modal-title">Borrar Sector</h3>
    <div class="modal-body">
        <p>¿ Borrar <strong>{{ selectedSector?.nombre }}</strong> ?</p>
        
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline" (click)="openedDialog = false">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="onModalDelete()">Borrar</button>
    </div>
</clr-modal>